<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.js.edwon.webstorm</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E5820F2-6AFF-43AD-8B4A-E581E8FA3238</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E20E30A-1789-455A-9A65-DFDBBDB50F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>20392A77-BB51-4FB9-8CFB-949BE7F24D71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E20E9495-471D-42E8-B8DE-AF5BD9C0F3A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C95BB02A-08F9-42FA-B305-FA148C14E759</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>27D83DFB-92B6-4E0B-9153-B77E66618DE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A36152FB-69BF-4382-8C76-DCB5720FEC25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B3E5770-C1B3-4CA9-BB44-20CC25795972</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE6388C0-6517-4252-A760-22BE377DCB5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F74B4BA-9ED2-4926-9FC7-D6459581491D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A17E925-32EC-4085-A0BD-A400F518A7E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>64637092-F7AA-4198-B58A-44AB7C9D753C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F74B4BA-9ED2-4926-9FC7-D6459581491D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open path in finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D7737126-D61C-4DEB-9A91-FE68D5895D1F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open path in terminal</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A3387B98-0577-4E8B-A6A2-EE00DBA22243</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>756BB02A-5EB2-40C3-954B-2AC532A223E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E4C6870-4190-4272-BDE7-8E89D8A9749A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3387B98-0577-4E8B-A6A2-EE00DBA22243</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24F93780-272E-407D-B038-4C7B37522B67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DAB33427-59DA-466B-9821-CFD45D116794</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D7737126-D61C-4DEB-9A91-FE68D5895D1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32496D9A-E9A9-4C6F-830E-B6C4663479BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E20E9495-471D-42E8-B8DE-AF5BD9C0F3A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B59A6419-715B-475A-A795-35CD66CCF192</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E2D6E53-2D3F-4228-A92D-14FFA1A1E456</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E29A57C6-1799-4F74-B8A2-EC8FEBD8316D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>756BB02A-5EB2-40C3-954B-2AC532A223E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EE6388C0-6517-4252-A760-22BE377DCB5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E5820F2-6AFF-43AD-8B4A-E581E8FA3238</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open path in terminal</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F6FB526A-A41A-47A5-8709-278BCEDF9343</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>27D83DFB-92B6-4E0B-9153-B77E66618DE6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open path in finder</string>
			</dict>
		</array>
		<key>F6FB526A-A41A-47A5-8709-278BCEDF9343</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B59A6419-715B-475A-A795-35CD66CCF192</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DB85BF7-BC28-43AE-A430-436B483E7A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E2D6E53-2D3F-4228-A92D-14FFA1A1E456</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Edwon Lim</string>
	<key>description</key>
	<string>WebStorm</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WebStorm</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a Terminal {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>7E20E30A-1789-455A-9A65-DFDBBDB50F08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";
require('preCpWorkspace.php');
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E5820F2-6AFF-43AD-8B4A-E581E8FA3238</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/local/bin/wstorm "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B59A6419-715B-475A-A795-35CD66CCF192</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3B3E5770-C1B3-4CA9-BB44-20CC25795972</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>ws</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>$query = "{query}";
require_once("webstorm.php");</string>
				<key>subtext</key>
				<string>Project Name</string>
				<key>title</key>
				<string>WebStorm Open</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EE6388C0-6517-4252-A760-22BE377DCB5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WebStorm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F6FB526A-A41A-47A5-8709-278BCEDF9343</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>$query = "{query}";
require('addRecent.php');</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>8DB85BF7-BC28-43AE-A430-436B483E7A1A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";
require('preCpWorkspace.php');
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>27D83DFB-92B6-4E0B-9153-B77E66618DE6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Open {query} .</string>
				<key>title</key>
				<string>WebStorm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2E2D6E53-2D3F-4228-A92D-14FFA1A1E456</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require('openPath.php');</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E20E9495-471D-42E8-B8DE-AF5BD9C0F3A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>open</string>
				<key>subtext</key>
				<string>Open current Finder directory in WebStorm</string>
				<key>text</key>
				<string>Finder → WebStorm</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>20392A77-BB51-4FB9-8CFB-949BE7F24D71</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a Finder {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>A36152FB-69BF-4382-8C76-DCB5720FEC25</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WebStorm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>C95BB02A-08F9-42FA-B305-FA148C14E759</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a Finder {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>8A17E925-32EC-4085-A0BD-A400F518A7E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";
require('preCpWorkspace.php');
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F74B4BA-9ED2-4926-9FC7-D6459581491D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a Terminal {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>32496D9A-E9A9-4C6F-830E-B6C4663479BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";
require('preCpWorkspace.php');
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7737126-D61C-4DEB-9A91-FE68D5895D1F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Operation{query} is successful!</string>
				<key>title</key>
				<string>WebStorm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>24F93780-272E-407D-B038-4C7B37522B67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>ws</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>$query = "{query}";
require_once("workspace.php");</string>
				<key>subtext</key>
				<string>workspace</string>
				<key>title</key>
				<string>WebStorm Set Workspaces</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64637092-F7AA-4198-B58A-44AB7C9D753C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";
require('setWorkspace.php');
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A3387B98-0577-4E8B-A6A2-EE00DBA22243</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DAB33427-59DA-466B-9821-CFD45D116794</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Add workspaces "{query}" success!</string>
				<key>title</key>
				<string>WebStorm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1E4C6870-4190-4272-BDE7-8E89D8A9749A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>require('addPath.php');</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>756BB02A-5EB2-40C3-954B-2AC532A223E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>add</string>
				<key>subtext</key>
				<string>Add current Finder directory to WebStorm workspace</string>
				<key>text</key>
				<string>Finder → WebStorm Workspace</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E29A57C6-1799-4F74-B8A2-EC8FEBD8316D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1E4C6870-4190-4272-BDE7-8E89D8A9749A</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>1E5820F2-6AFF-43AD-8B4A-E581E8FA3238</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>20392A77-BB51-4FB9-8CFB-949BE7F24D71</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>24F93780-272E-407D-B038-4C7B37522B67</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>27D83DFB-92B6-4E0B-9153-B77E66618DE6</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>2E2D6E53-2D3F-4228-A92D-14FFA1A1E456</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>32496D9A-E9A9-4C6F-830E-B6C4663479BF</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>3B3E5770-C1B3-4CA9-BB44-20CC25795972</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>4F74B4BA-9ED2-4926-9FC7-D6459581491D</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>64637092-F7AA-4198-B58A-44AB7C9D753C</key>
		<dict>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>756BB02A-5EB2-40C3-954B-2AC532A223E7</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>7E20E30A-1789-455A-9A65-DFDBBDB50F08</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8A17E925-32EC-4085-A0BD-A400F518A7E0</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>8DB85BF7-BC28-43AE-A430-436B483E7A1A</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>A3387B98-0577-4E8B-A6A2-EE00DBA22243</key>
		<dict>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>A36152FB-69BF-4382-8C76-DCB5720FEC25</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>B59A6419-715B-475A-A795-35CD66CCF192</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>C95BB02A-08F9-42FA-B305-FA148C14E759</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>D7737126-D61C-4DEB-9A91-FE68D5895D1F</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>DAB33427-59DA-466B-9821-CFD45D116794</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>E20E9495-471D-42E8-B8DE-AF5BD9C0F3A3</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>E29A57C6-1799-4F74-B8A2-EC8FEBD8316D</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>EE6388C0-6517-4252-A760-22BE377DCB5F</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>F6FB526A-A41A-47A5-8709-278BCEDF9343</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
